.container {
    background-color: #1F2937;
    height: 300px;
    display:block;
    width: auto;
    padding: 20px;

    .party {
        position: relative;
        width: 270px;
        height: 180px;
        left: 1120px;
        bottom: 185px;
        

    }
    .image {
        position: relative;
        width: 180px;
        height: 120px;
        margin: 20px;
        bottom: 20px;
    }

    .items {
        text-decoration: none;
        color: aliceblue;
        margin-right: 20px;
        height: 50px;
        width: 70px;
        

    }

    .buton {
        position: relative;
        margin-right: 80px;
        left: 720px;
        bottom: 245px;
        width: 180px;
        border-radius: 10px;
        border-color: aliceblue;
    }
    .links{
        margin-left: 80%;
        margin-top: 13px;
        bottom: 165%;
        left: 49px;
        position: relative;
    }

    .yazı {
        position: relative;
        margin-left: 550px;
        bottom: 32px;
        color: aliceblue;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
        
        
    }

    .header {
        left: 30px;
        

    }

    
    

    
        
}

.flex-container {
    display: flex;
    flex: 1;    
    flex-direction: row;
    margin-left: 25%;
    width: 900px;
    justify-content: space-around;
    
    
    

    .flex {
        height: 150px;
        width: 200px;
        border-style: solid;
        border-color: gray;
        border-radius: 10px;
        
        
    }
}

.secondPart {
    
    margin-left: 37%;
}
.texth {
    display: flex;
    flex: 1;    
    flex-direction: row;
    margin-left: 25%;
    width: 900px;
    justify-content: space-around;
    /*border-style: solid  ;
    border-color: red;*/
}

