* {
    margin:0;
    padding:0; 
    background-color: #3a3a3a;
    
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid purple ;
}

  .logo {
    height: 35vh;
    width: 35vh;
    border: 2px solid orange ;
    position: relative;
  }
  nav{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: auto;
    border: 2px solid red ;
    
  }
  ul {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: flex-start;
    border: 2px solid white ;
    gap: 3vh;
    padding: 2vh;
    text-decoration: none;
    
   
  }
  a, li {
    
    color: aliceblue;
    text-decoration: none;
  }
