.flex-container {
    background-color: #1F2937;
    height: 300px;
    display: flex;
    width: auto;
    flex-direction: row;
    align-items:flex-start;
    justify-content: flex-end;
    flex: 1;
    padding: 20px;
    
    
}

.items {
    
    
    color: #E5E7EB;
    margin: 10px;
    height: 50px;
    width: 70px;
    text-decoration: none;
    font-family:'Courier New', Courier, monospace;
    
}

.flex-container img {
    width: 175px;
    height: 128px;
    position:sticky;
    right: 4000px;
    margin: 10px;
}

h1, p {
    margin-top: 150px;
    vertical-align: top;
}
p {
    font-size: 18px;
}
h1 {
    font-size: 28px;
}